spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/habitsdb
    username: postgres
    password: Habits123
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate.jdbc.lob.non_contextual_creation: true

